.title {
    color: #032f55;
    font-weight: 900;
    font-size: calc(2.5vw + 2.5vh);
    text-decoration: none;
}

.miniTitle {
    font-size: calc(2vw + 2vh);
    font-style: italic;
    color: #a7c5ee;
}

.title:hover {
    text-decoration: none;
}


.background {
  box-shadow: 0 0 10px #032f55;;
    opacity: 1;
    position: absolute;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    z-index: -2;
}

.groupTop {
    margin-top: 2%;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.leftTop {
    width: 65%
}

.rightTop {
    width: 35%
}

.groupButton {
    padding-top: 30px;
    display: flex;
}

.but {
    color: #032f55;
    background-color: white;
    border: 0;
    font-weight: 700;
    font-size: calc(1vw + 1vh);
    width: 30%;
    margin-left: 5%
}

.but2 {
    color: #032f55;
    background-color: white;
    border: 0;
    font-weight: 700;
  font-size: calc(1vw + 1vh);
}

.contact {
    color: white;
    background-color: #032f55;
    border-radius: 5px;
    width: 30%;
}

.groupRec {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    height: auto
}

.blueRec {
    background-color: rgba(3, 47, 85, 0.75);
    width: 65%;
}

.whiteRec {
    background-color: rgba(0, 0, 0, 0.75);
    width: 35%
}

.main {
    width: 100%;
}

.subtitle {
    text-align: center;
    color: white;
    font-size: calc(1.8vw + 1.8vh);
    font-weight: normal;
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
}

.repairSection {
    margin: 10%;
    width: 80%;
}

.section {
    display: flex;
    margin-bottom: 10%;
    transition: 0.5s;
}

.section:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.repairImage {
    width: 20%;
  height: auto
}

.label {
    color: #a7c5ee;
    font-weight: 600;
  font-size: calc(1.1vw + 1.1vh);
    margin-left: 10%;
    width: 60%;
}

.brands {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.panasonic {
    text-decoration: none;
    font-weight: 600;
    padding: 1%;
    border-radius: 10%;
    color: white;
    font-size: calc(1.5vw + 1.5vh);
    background-color: rgba(0, 0, 0, 0.5);
}

.panasonic:hover {
    text-decoration: none;
    color: black;
    background-color: white
}

.other {
    margin-left: 2%;
    font-weight: 600;
    font-size: calc(1.5vw + 1.5vh);
    color: #6dc3cd
}

.other2 {
    font-size: calc(1vw + 1vh);
    color: #6dc3cd
}

.aboutGroup {
    margin-top: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.line {
    border-top: solid 2px white;
}

.adress {
    margin-left: 8%;
    width: 25%;
    color: #a7c5ee;
}

.aboutTitle{
  font-size: calc(1.2vw + 1.2vh);
  color: #a7c5ee;
}

.phone {
    line-height: 5px;
  font-size: calc(0.7vw + 0.7vh);
}

.open {
  font-size: calc(1.1vw + 1.1vh);
    font-style: italic;
    color: #a7c5ee;
}

.link {
    text-decoration: none;
  font-size: calc(0.7vw + 0.7vh);
    color: #a7c5ee;
}

.link:hover {
    text-decoration: none;
}

.authors {

    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.madeBy {
    margin-left: 5%;
    margin-top: 5%;
  font-size: calc(0.7vw + 0.7vh);
    color: #448;
}

.map {
    border: solid 5px #032f55;;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 600px;
}

@media(max-width: 1000px){
  .groupRec{
    width:100%;
    margin: 0
  }
  .background{
    width:100%;
    margin: 0
  }
  .subtitle{
    font-size: 20px;
    margin:3%;
    width: 94%
  }
  .repairImage{
    max-width: 20px;
    max-height: 20px
  }
  .repairSection{
    margin-left: 10%;
    margin-right: 0;
    width: 90%
  }
  .section{
  margin-bottom:5%
  }
}


@media (max-width: 600px){
  .groupTop{
    display: block;
  }
  .title{
    width: 100%;
  }
  .subtitle{
    width: 100%;
    margin: 0;
  }
  .but{
    width:100%
  }
  .groupButton{
    padding: 0;
  }
  .groupRec{
    display: block;
    width: 100%;
    margin:0
  }
  .background{
    display: none;
  }
  .blueRec{
    width: 100%;
  }
  .whiteRec{
    width: 100%;
  }
  .leftTop{
    text-align: center;
    width: 100%;
  }
  .rightTop{
    width:100%;
    margin-bottom:5%
  }
  .repairSection{
    margin-top:0;
    width: 80%;
    margin-right: 10%;
  }
  .groupButton{
    justify-content: center;
  }
  .section{
    justify-content: center;
  }
  .label{
    margin-left:0;
    width:50%;
  }

}
