.title {
    color: #032f55;
    font-weight: 900;
    font-size: calc(2.5vw + 2.5vh);
    text-decoration: none;
}

.miniTitle {
    font-size: calc(2vw + 2vh);
    font-style: italic;
    color: #a7c5ee;
}

.title:hover {
    text-decoration: none;
}


.background {
  box-shadow: 0 0 10px #032f55;;
    opacity: 1;
    position: absolute;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    z-index: -2;
}

.groupTop {
    margin-top: 2%;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.leftTop {
    width: 65%
}

.rightTop {
    width: 35%
}

.groupButton {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.but {
    color: #032f55;
    background-color: white;
    border: 0;
    font-weight: 700;
    font-size: calc(1vw + 1vh);

    margin-left: 5%
}

.but2 {
    color: #032f55;
    background-color: white;
    border: 0;
    font-weight: 700;
  font-size: calc(1vw + 1vh);
}

.contact {
    color: white;
    background-color: #032f55;
    border-radius: 5px;
    width: 30%;
}

.groupRec {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    height: 910px;
}

.blueRec {
    background-color: rgba(3, 47, 85, 0.75);
    width: 65%;
}

.whiteRec {
    background-color: rgba(0, 0, 0, 0.75);
    width: 35%
}

.main {
    width: 100%;
}

.subtitle {
    text-align: center;
    color: white;
    font-size: calc(1.8vw + 1.8vh);
    font-weight: normal;
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    margin-right: 15%;
}

.repairSection {
    margin: 10%;
    width: 80%;
}

.section {
    display: flex;
    margin-bottom: 10%;
    transition: 0.5s;
}

.section:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.repairImage {
    width: 20%;
  height: auto
}

.label {
    color: #a7c5ee;
    font-weight: 600;
  font-size: calc(1.1vw + 1.1vh);
    margin-left: 10%;
    width: 60%;
}

.brands {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.panasonic {
    text-decoration: none;
    font-weight: 600;
    padding: 1%;
    border-radius: 10%;
    color: white;
    font-size: calc(1.5vw + 1.5vh);
    background-color: rgba(0, 0, 0, 0.5);
}

.panasonic:hover {
    text-decoration: none;
    color: black;
    background-color: white;
    transition: 0.2s;
}
.scale{
    transition: 0.4s;
}
.scale:hover{
    transition: 0.4s;
    transform: scale(1.1);
}

.other {
    margin-left: 2%;
    font-weight: 600;
    font-size: calc(1.5vw + 1.5vh);
    color: #6dc3cd
}

.other2 {
    font-size: calc(1vw + 1vh);
    color: #6dc3cd;
}

.aboutGroup {
    margin-top: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.line {
    border-top: solid 2px white;
}

.adress {
    margin-left: 8%;
    width: 25%;
    color: #a7c5ee;
}

.aboutTitle{
  font-size: calc(1.2vw + 1.2vh);
  color: #a7c5ee;
}

.phone {
    line-height: 5px;
  font-size: calc(0.7vw + 0.7vh);
}

.open {
    margin-bottom: 0;
  font-size: calc(1.1vw + 1.1vh);
    font-style: italic;
    color: #a7c5ee;
}

.link {
    text-decoration: none;
  font-size: calc(0.7vw + 0.7vh);
    color: #a7c5ee;
}

.link:hover {
    text-decoration: none;
}

.authors {

    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.madeBy {
    margin-left: 5%;
    margin-top: 5%;
  font-size: calc(0.7vw + 0.7vh);
    color: #448;
}

.map {
    border: solid 5px #032f55;;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 600px;
}

.gradientBackground{
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, rgba(3, 47, 85, 0.5) 0%, rgba(167, 197, 238, 0.5) 100%);
    z-index:-1;
    padding: 20px;
}

.groupService{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.serviceTitle{
    font-size: calc(1.2vw + 1.2vw);
    color: #032f55;
    font-weight: 700;
    border-bottom: solid 3px #fff;
}
.serviceList{
    font-size: calc(0.6vw + 0.6vw);
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right,  rgb(0, 0, 0) 0%, rgb(3, 47, 85) 100%);
}

.service{
    box-shadow: 0 0 10px rgba(3, 47, 85, 0.5);
    border: rgb(3, 47, 85) solid 2px;
    padding: 1%;
    border-radius: 1%;
    margin-right: 2%;
    margin-left: 2%;
    flex: 1 1 270px;
    margin-bottom: 1vw;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.6);
}
.service:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}
.head{
    color: #032f55;
    text-align: center;
    font-weight: 900;
    font-size: calc(2vw + 2vh);
    margin-bottom: 3%;
}







@media(max-width: 1000px){
  .groupRec{
    width:100%;
    margin: 0
  }
  .background{
    width:100%;
    margin: 0
  }
  .subtitle{
    font-size: 20px;
    margin:3%;
    width: 94%
  }
  .repairImage{
    max-width: 20px;
    max-height: 20px
  }
  .repairSection{
    margin-left: 10%;
    margin-right: 0;
    width: 90%
  }
  .section{
  margin-bottom:5%
  }
    .gradientBackground{
        margin: 0;
        width: 100%;
    }

    .serviceList{
        font-size: 15px;
    }
    .serviceTitle{
        font-size: 23px;
    }
    .head{
        font-size: 15px;
    }
}











@media (max-width: 600px){
  .groupTop{
    display: block;
  }
  .title{
    width: 100%;
  }
  .subtitle{
    width: 100%;
    margin: 0;
  }
  .but2{
    width:100%;
      font-size: 20px;
  }
  .but{
      width:100%;
      font-size: 20px;
  }
  .groupButton{
    padding: 0;
  }
  .groupRec{
    display: block;
    width: 100%;
    margin:0
  }
  .background{
    display: none;
  }
  .blueRec{
    width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
  }
  .whiteRec{
    width: 100%;
  }
  .leftTop{
    text-align: center;
    width: 100%;
  }
  .rightTop{
    width:100%;
    margin-bottom:5%
  }
  .repairSection{
    margin-top:0;
    width: 80%;
    margin-right: 10%;
  }
  .groupButton{
    justify-content: center;
  }
  .section{
    justify-content: center;
  }
  .label{
    margin-left:0;
    width:50%;
  }
.authors{
    display:none;
}

}
